@model BookModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <span>Category - @Model.Category.Name</span>
        <p class="card-text">@Model.Description</p>
    </div>
</div>