@model BookCategorySortModel

<form asp-action="SortCategory" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="SelectedCategoryId"></label>
        <select asp-for="SelectedCategoryId" asp-items="@(IEnumerable<SelectListItem>) ViewBag.Categories">
            <option>-- Please select category --</option>
        </select>
    </div>

    <hr />
    <input type="submit" class="btn btn-secondary" value="SortCategory" />

</form>